@charset "UTF_8";


*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
header{
    text-align: center;
    padding: 10px;
    font-size: 2em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.193);
}
body{
    width: 94vw;
    background-image: linear-gradient(to top, rgb(255, 255, 255) , rgb(179, 179, 179), rgb(255, 255, 255)  );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div{
    display: block;
    background-color: #8d8d8d;
    width: 85vw;
    margin: auto;
    padding: 20px;

}
div#espec{
    text-align: center;
    line-height: 22px;
}
#btnAdd{
    width: 35vw;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    border: 0px;
    box-sizing: border-box;
    outline: 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.327);
    
}
.inputInspec{
    height: 20px;
    max-width: 40vw;
    outline: 0;
    font-size: large;
    
}
#tabela{
    width: 75vw;
  
    
}
table{
    
 background-color: #c5c5c5;

 margin:auto;
 border: 1px solid black;



}
th{
   
    width: 40px;
    height: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.432);

}
tr{
    height: 30px;
    width: 40px;
    
}

td{ /* WORDBREAK da quebra de ingrediente*/
 word-break: break-all;
    padding: 5px;
   
    width: 40px;
    height: 30px;
   
   
}
.btn{
 width: 15px;
 height: 15px;

}
.delete{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.57);
    color: white;
    border: 0;
    box-shadow: 0px 0px 2px black;
}

#Observacao{
    text-align: center;
    

}
#textarea{
    height: 100px;
    width: 90%;


    margin: 0px;
   
}
#btnAddObs{
    width: 35vw;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    border: 0px;
    box-sizing: border-box;
    outline: 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0,)
    
}
#menu{
    background-color: #8d8d8d;
    color: white;
    display: flex;
    width: 85vw;
    margin: auto;
    padding: 20px;
    

}
#menu > button{
    padding: 5px;
    background-color: #8d8d8d;
    border: 0;
    font-size: 20px;
    color: white;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.626);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.225);
    border-radius: 20px;
}
#menu > button:hover{
    padding: 5px;
    background-color: #36313129;
    border: 0;
    font-size: 20px;
    color: white;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.436);
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.333);
}
.tfoot{
    background-color: rgba(57, 60, 60, 0.096);
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(100, 100, 100);
    text-shadow: 1px 1px 3px rgba(14, 14, 14, 0.31);
}
.valor {
    background-color: rgba(57, 60, 60, 0.096);
font-size: 0.8em;
font-weight: bold;
color: rgb(100, 100, 100);
text-shadow: 1px 1px 3px rgba(14, 14, 14, 0.31);
}
#textarea{
    font-size: 1.1rem;
}
#Preparo{
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.368);
}
#Nome{
    display: block;
    width: 280px;
    height: 40px;
    font-size: 20px;
    margin: auto;
    margin-bottom: 10px;
    outline: 0;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.155);
}
#imprimir{
    display: block;
    margin: auto;
    width: 35vw;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    border: 0px;
    
    outline: 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.327);
    
}